name: Run

on:
  workflow_dispatch:

jobs:
  run-server:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Java 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Install
        run: |
          curl -s https://install.zerotier.com | sudo bash
          sudo systemctl enable zerotier-one
          sudo systemctl start zerotier-one

      - name: Join network
        run: |
          sudo zerotier-cli join d5e5fb6537c85925

      - name: Make run.sh executable
        run: chmod +x ./run.sh

      - name: Run
        run: ./run.sh